//parameters for mutect2
params.fastaFile                     = "dx://project-Fkb6Gkj433GVVvj73J7x8KbV:file-GjPxXq84qv8xz3ZV1jFq6z3g"  //GRCh38_GIABv3_no_alt_analysis_set_maskedGRC_decoys_MAP2K3_KMT2C_KCNJ18_noChr.fa
params.fastaIndex                    = "dx://project-Fkb6Gkj433GVVvj73J7x8KbV:file-GjPxp3Q4qv8Vk76xFVjfyPgJ"  //GRCh38_GIABv3_no_alt_analysis_set_maskedGRC_decoys_MAP2K3_KMT2C_KCNJ18_noChr.fa.fai
params.gatkResource                  = "dx://project-F3zqGV04fXX5j7566869fjFq:file-F3zvKp84fXX8qJx43zZXP395"  //GRCh38.gatk.resource.bundle.tar.gz 
params.file_path                     = ""//"dx://project-GqG8Py84vZqg5bpvxJz2XjX6:X223430-GM2225400-23NGCEN5-9527-F-99347387_markdup" //file path where all bam files are located
params.file_type                     = "*{.bam,.bam.bai}"
params.outdir                        = "./mutect2_output" //name of output folder 
params.bam_files                     ="$params.file_path"+"$params.file_type"
//machine type
process {
    withName:TNHaplotyper2 {
        machineType = 'mem1_ssd1_v2_x36'
  }
}
//parallel run
executor {
    queueSize = 99
}
