//parameters for mutect2
params.fastaFile                     = "dx://project-F3zxk7Q4F30Xp8fG69K1Vppj:file-F403K904F30y2vpVFqxB9kz7"  //hs37d5.fa.gz
params.fastaIndex                    = "dx://project-F3zxk7Q4F30Xp8fG69K1Vppj:file-F3zyVj84F30jxYxG68vJyg68"  //hs37d5.fa.fai
params.gatkResource                  = "dx://project-F3zqGV04fXX5j7566869fjFq:file-F3zx7gj4fXX8QG3Q42BzpyZJ"  //b37.gatk.resource.bundle.tar.gz 
params.file_path                     = "" //file path where all bam files are located
params.file_type                     = "*{.bam,.bam.bai}"
params.outdir                        = "./mutect2_output" //name of output folder 
params.bam_files                     ="$params.file_path"+"$params.file_type"
//machine type
process {
    withName:TNHaplotyper2 {
        machineType = 'mem1_ssd1_v2_x36'
  }
}
//parallel run
executor {
    queueSize = 99
}
